<!doctype html>
<html ng-app="FenrirApp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Fenrir</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">
	
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
	<script src="js/controllers/controller.js"></script>
	<script src="js/services/service.js"></script>
	<script src="js/main.js"></script>
</head>
<body ng-controller="RutaCtrl">
	<form ng-submit="submit()">       
		<ul class="nav nav-pills" role="tablist">
		  <li role="presentation" class="active"><a href="#">Rutas <span class="badge">{{rutas.length}}</span></a></li>
		  <li role="presentation"><a href="#">Añadir</a></li>
		  <li role="presentation"><a href="#">Perfil</a></li>
		  <li role="presentation"><a href="#" ng-click="logout()">Logout</a></li>
		</ul>
		<ul ng-repeat="ruta in rutas" class="list-group">
			<li class="list-group-item">{{ruta.nombre}}</li>
		</ul>
	</form>
</body>
</html>
